<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firefighters-ai</title>

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="/style.css">


    <!-- Mapbox -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css' rel='stylesheet'/>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- JSON Formatter -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/json-formatter-js@2.3.4/dist/json-formatter.min.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<main>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/markers/bot.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Firefighters-ai
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/replays">Replays</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--    Map-->
    <div id="map">
    </div>
    <!--    Coordinates-->
    <div id="coordinates"></div>
    <!--    Bots panel-->
    <div id="bots-panel" class="panel">
        <div class="panel-header">
            <div>Bots</div>
            <i class="fas fa-up-down-left-right drag"></i>
        </div>
        <div id="template-panel-bot" class="panel-bot hidden" data-id="">
            <img src="/images/markers/bot.png" alt="bot" class="panel-marker">
            <div class="panel-bot-id text-sm"></div>
            <div class="panel-actions">
                <img src="/images/markers/mappoint.svg" alt="go" class="panel-action fly-to">
            </div>
        </div>
        <div class="panel-body">
        </div>
    </div>
    <!--    Wildfires panel-->
    <div id="wildfires-panel" class="panel">
        <div class="panel-header">
            <div>Wildfire</div>
            <i class="fas fa-up-down-left-right drag"></i>
        </div>
        <div class="panel-body">
            <div class="json-container">
            </div>
        </div>
    </div>
    <!--    Parameters panel-->
    <div id="parameters-panel" class="panel">
        <div class="panel-header">
            <div>Parameters</div>
            <i class="fas fa-up-down-left-right drag"></i>
        </div>
        <div class="panel-body">
            <div class="input-row mb-1">
                <label for="timeAcceleration">Time acceleration</label>
                <input class="input" type="text" value="1" id="timeAcceleration" data-property="timeAcceleration">
            </div>

            <div class="input-row mb-1">
                <label for="isPaused">Pause the simulation</label>
                <input class="input" type="checkbox" id="isPaused" data-property="isPaused">
            </div>

            <div class="input-row mb-1">
                <label for="reload">Reload the simulation</label>
                <button class="btn btn-primary" id="reload">
                    <i class="fa-solid fa-rotate-right mr-2"></i> Reload
                </button>
            </div>
        </div>
    </div>
</main>
<script>
    const mapboxToken = '<%= mapboxAccessToken %>';
    const data = <%- JSON.stringify(params) %>;

    const defaultParameters = {
        timeAcceleration: 1,
    };
</script>

<script src="https://cdn.jsdelivr.net/npm/json-formatter-js@2.3.4/dist/json-formatter.umd.min.js"></script>
<script defer>
    const formatter = new JSONFormatter(data);
    document.querySelector('.json-container').appendChild(formatter.render());
</script>

<script type="text/javascript" src="/firefighter-ai.js" defer></script>
<script type="text/javascript" src="/mapbox_replay.js" defer></script>
<script type="text/javascript" src="/toastify.min.js" defer></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js'></script>
</body>
</html>